<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="openCal()" [ngClass]="viewCalendar ? 'cal-icon' : 'cal-icon-view'">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openList()" [ngClass]="viewMonths ? 'month-icon' : 'month-icon-view'">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">My Schedule</ion-title>
  </ion-toolbar>
  <ion-grid *ngIf="viewCalendar" style="padding: 0;">
    <ion-row>
      <ion-col size="9" style="padding: 0;">
        <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </ion-col>
      <ion-col size="3" class="today">
        <div class="selected">
          <p class="todayDate">{{todayDate}}</p>
          <span class="month">July</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-card *ngIf="viewCalendar&&nextTodo.length > 0" style="margin-top: 8%;">
    <p class="card-header">Next to be done</p>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="event-dateTime">
            <p>Today</p><br>
            <p class="event-time">{{nextTodo[0].sTime}}</p>
          </ion-col>
          <ion-col size="6" class="event-detail">
            <p class="event-title">{{nextTodo[0].title}}</p><br>
            <p class="event-time">{{nextTodo[0].sTime}}-{{nextTodo[0].eTime}}</p>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/images/card-map.jpeg" class="event-map" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card *ngIf="viewCalendar&&myTodoList.length > 0">
    <ion-list>
      <p class="card-header">
        Plan to do({{myTodoList.length}})
      </p>
      <div *ngFor="let todo of myTodoList">
        <ion-item lines="none">
          <ion-avatar slot="start" class="avatar">
            <ion-icon name="alarm-sharp" class="event-list-icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="event-list-title">{{todo.title}}</h2>
            <p>{{todo.desc}}</p>
          </ion-label>
          <div class="event-list-time">
            <p>{{todo.sTime}}</p>
          </div>
        </ion-item>
        <hr class="divider">
      </div>
    </ion-list>
  </ion-card>

  <div *ngIf="showAlert" style="margin-top: 8%;">
    <ion-card class="no-todo">
      <ion-card-subtitle>No Todo!</ion-card-subtitle>
    </ion-card>
  </div>

  <ion-fab slot="fixed" class="create-event-icon">
    <ion-fab-button color="light" (click)="createEvent()">
      <ion-icon name="pencil-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="viewMonths">
    <ion-card *ngFor="let item of months" class="month-list">
      <ion-card-header (click)="expandItem(item)">
        <ion-card-title class="month-title">{{item.month}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="month-content">
        <app-expandable expandHeight="700px" [expanded]="item.expanded">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="2" *ngFor="let date of all_days"
                  [ngClass]="selectedDate == date ? 'month-date-selected' : 'month-date'"
                  (click)="filterTodo(date, item.value)">
                  {{date}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <div *ngIf="filteredTodoList&&filteredTodoList.length > 0">
            <ion-card *ngFor="let todo of filteredTodoList">
              <ion-list>
                <ion-item lines="none">
                  <ion-avatar slot="start" class="avatar">
                    <ion-icon name="alarm-sharp" class="event-list-icon"></ion-icon>
                  </ion-avatar>
                  <ion-label>
                    <h2 class="event-list-title">{{todo.title}}</h2>
                    <p>{{todo.desc}}</p>
                  </ion-label>
                  <div class="event-list-time">
                    <p>{{todo.sTime}}</p>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card>
          </div>
          <div *ngIf="filteredTodoList&&filteredTodoList.length == 0">
            <ion-card class="no-todo">
              <ion-card-subtitle>No Todo!</ion-card-subtitle>
            </ion-card>
          </div>
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>