.title{
    text-align: start;
    padding-inline: 0px;
}
.today{
    text-align: center;
    margin: auto;
    padding: 0;
    padding-bottom: 10%;
}
.month{
    font-size: 1em;
    position: absolute;
    top: 55%;
    right: 35%;
}
.todayDate{
    font-size: 2em;
    padding-top: 10%;
}
.selected{
    background-image: linear-gradient(to bottom right, #FF8CDB, #FD62D0) !important;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    margin: auto;
    color: #fff;
}
.cal-icon{
    position: absolute;
    right: 3em;
    border-bottom: 2px solid #fff;
}
.cal-icon-view{
    position: absolute;
    right: 3em;
}
.month-icon{
    position: absolute;
    right: 0em;
    border-bottom: 2px solid #fff;
}
.month-icon-view{
    position: absolute;
    right: 0em;
}
.card-header{
    font-size: 16px;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 4%;
    margin: 0;
}
.event-dateTime{
    text-align: center;
    line-height: 2px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    border-right: 1px solid lightgray;
}
.event-detail{
    line-height: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 2%;
}
.event-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    margin: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-time{
    font-size: 14px;
    font-weight: bold;
}
.event-map{
    position: absolute;
    top: -25%;
    right: 0%;
}
.divider{
    border: 1px solid #f0f0f0;
    height: 0;
    width: 95%;
}
.event-list-time{
    font-size: 14px;
    font-style: italic;
    color: gray;
    font-weight: bold;
}
.event-list-title{
    color: dimgray;
    font-weight: bold;
}
.create-event-icon{
    bottom: 5%;
    right: 5%;
}
.event-list-icon{
    font-size: 25px;
    margin: auto;
    padding: 15%;
}
.avatar{
    background: linear-gradient(to bottom right, #F7C389, #FF7D56);
}
.month-list{
    background: linear-gradient(to bottom right, #FF8CDB, #FD62D0) !important;
}
.month-title{
    color: #fff;
    text-align: center;
}
.month-content{
    padding-bottom: 10px !important;
}
.month-date{
    text-align: center;
}
.month-date-selected{
    text-align: center;
    background: #f0f0f0;
    border-radius: 100px;
}
.no-todo{
    text-align: center;
    padding: 10px;
}
.loading-spinner{
    --spinner-color: linear-gradient(to bottom right, #FF8CDB, #FD62D0) !important;
}