<div class="container">
    <mat-card style="margin-top: 3%;">
        <div>
            <h5>Search Movie:</h5>
        </div>
        <form [formGroup]='form' class="row movie-form">
            <div class="col-9">
                <div class="form-group">
                    <label for="title" class="formField">Title*</label>
                    <div>
                        <input type="text" class="form-control userInput" formControlName="movie" [(ngModel)]="movie"
                            placeholder="Movie Title...">
                    </div>
                </div>
            </div>
            <div mat-dialog-actions class="col-3 btn-container">
                <button class="btn btn-info" (click)="listMovie()" [disabled]="!form.valid">Submit</button>
            </div>
        </form>
    </mat-card>
    <br>
    <div>
        <h5 style="color: #fff;">Filter Movie:</h5>
        <div class="row" align="end">
            <div class="col-12">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input type="search" [(ngModel)]="searchText" class="form-control search-input" placeholder="Search..."
                    (keyup)="applySearchFilter($event.target.value)" />
            </div>
        </div>
    </div>
    <div class="mat-elevation-z8" style="margin-top: 15px;">
        <div class="row" style="background: white;width: 100%;margin: 0; border-bottom: 1px solid #eaeaea;">
            <div class="col-3 movie-list-label">
                <label>{{movie}}</label>
            </div>
            <div class="col-9" style="padding: 0;">
                <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"></mat-paginator>
            </div>
        </div>
        <table mat-table [dataSource]="movieDataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="Poster">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Poster</th>
                <td mat-cell *matCellDef="let element" class="movie-nav" (click)="viewDetails(element)">
                    <img [src]="element.Poster" width="100" height="100" style="padding: 2%;"/>
                </td>
            </ng-container>
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td mat-cell *matCellDef="let element" class="movie-nav" (click)="viewDetails(element)">
                    {{element.Title}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element">{{element.Type}} </td>
            </ng-container>
            <ng-container matColumnDef="Year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
                <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
            </ng-container>
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell *matCellDef="let element" (click)="viewList(element)">
                    <i class="fa fa-eye view-detail" aria-hidden="true"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="example-element-row">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
        </table>
    </div>
</div>
<br>
<mat-card *ngIf="movieData" class="card-container">
    <app-detail [data]="movieData" (backTo)="backTo($event)"></app-detail>
</mat-card>