.card-container{
    margin: auto;
    max-width: 80%;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-header{
    text-align: center;
    width: 100%;
    display: block;
    background: #fff;
}
.formField{
    font-size: 16px;
    font-weight: bold;
}
.userInput{
    height: 45px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-info{
    width: 135px;
    height: 48px;
    background-color: #0099FF;
    color: #FFFFFF;
    font-size: 18px;
    padding: 4% 0% 5% 0%;
    float: right;
    border: none;
    margin-top: 26px;
    margin-bottom: 26px;
}
.cancel-btn{
    width: 135px;
    height: 40px;
    background-color: red;
    color: #FFFFFF;
    font-size: 18px;
    float: right;
    border: none;
    outline: none;
}
.movie-list-label{
    background: white;
    font-size: 24px;
    color: currentColor;
    padding: 1.5% 0% 0% 2%;
}
.movie-nav{
    cursor: pointer;
    color: #0099FF;
}
.search-icon{
    position: absolute;
    left: 0px;
    padding: 2% 3%;
    pointer-events: none;
    color: currentColor;
}
.search-input{
    padding-left: 4%;
    height: 40px;
    margin: 1% 0 1%;
    float: right;
    color: currentColor;
    cursor: pointer;
}
.btn-container{
    height: 100px;
}
.view-detail{
    color: gray;
    cursor: pointer;
}