<mat-card *ngIf="data" class="movie-detail-container">
    <div class="row">
        <div class="col-4 header-container">
            <h2>{{data.Title}}</h2>
            <label>{{data.Released}} . {{data.Runtime}} . {{data.Language}}
            </label>
        </div>
        <div class="col-8">
            <div class="row" style="padding: 15px 0px;float: right;">
                <div class="col" *ngFor="let item of data.Ratings">
                    <label class="rating-label">{{item.Source}}</label>
                    <br>
                    <label style="width: 100%;">
                        <i class="fa fa-star rating-icon" aria-hidden="true"></i>
                        <span class="rating-value">{{item.Value}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <img [src]="data.Poster" />
    <div class="chip">
        {{data.Genre}}
    </div>
    <div>
        <h6>{{data.Plot}}</h6>
    </div>
    <div class="row list-container">
        <h6 class="col-3">Director</h6>
        <label class="list-value">{{data.Director}}</label>
    </div>
    <div class="row list-container">
        <h6 class="col-3">Writers</h6>
        <label class="list-value">{{data.Writer}}</label>
    </div>
    <div class="row list-container">
        <h6 class="col-3">Production</h6>
        <label class="list-value">{{data.Production}}</label>
    </div>
    <div class="row list-container">
        <h6 class="col-3">Actors</h6>
        <label class="list-value">{{data.Actors}}</label>
    </div>
    <div class="row list-container">
        <h6 class="col-3">Country</h6>
        <label class="list-value">{{data.Country}}</label>
    </div>
    <div *ngIf="!localData" class="home-link">
        <label style="padding: 10px;" (click)="backToHome()">Close</label>
    </div>
    <div *ngIf="localData" class="home-link">
        <label style="padding: 10px;" (click)="back()">Home</label>
    </div>
</mat-card>