.movie-detail-container{
    text-align: center;
    margin: auto;
    max-width: 80%;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.chip{
    margin: auto;
    max-width: 80%;
    border: 1px solid lightgray;
    border-radius: 100px;
    background: #f0f0f0;
    color: gray;
    padding: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.header-container{
    text-align: left;
}
.rating-label{
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}
.rating-value{
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
}
.rating-icon{
    color: goldenrod;
}
.list-container{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-top: 2%;
}
.list-value{
    color: dodgerblue;
}
.home-link{
    width: 15%;
    margin: auto;
    border: 1px solid #fff;
    background: black;
    color: #fff;
    border-radius: 100px;
    height: 45px;
    margin-top: 2%;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 15px black;
}