<app-nav></app-nav>
<ngx-spinner size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<router-outlet></router-outlet>
<div class="footer-container">
    <footer class="footer-data">Developed By, Raja Mani @ 2021</footer>
</div>