/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.text-danger {
    color: red !important;
    font-size: 12px !important;
    font-weight: bold !important;
    margin-top: 1%;
}
body{
    background: black;
}
table{
    width: 100%;
}