<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My ToDo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="todoForm">
    <h3 class="input-label">Todo</h3>
    <ion-label>
      <ion-input type="text" placeholder="Todo Title" [(ngModel)]="title" name="title" class="input-data"
        style="padding: 5px !important;"></ion-input>
    </ion-label>
    <h3 class="input-label">Description</h3>
    <ion-label>
      <ion-textarea placeholder="Todo Description" [(ngModel)]="description" name="description" class="input-area">
      </ion-textarea>
    </ion-label>
    <h3 class="input-label">Date</h3>
    <ion-label>
      <ion-datetime placeholder="Todo date" name="todoDate" [(ngModel)]="todoDate" class="input-data"
        display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" value=""></ion-datetime>
    </ion-label>
    <ion-grid style="text-align: center;">
      <ion-row>
        <ion-col>
          <h3 class="input-label">Start Time</h3>
          <ion-label>
            <ion-datetime placeholder="00:00" name="startTime" [(ngModel)]="startTime" class="input-data"
              display-format="h:mm A" picker-format="h:mm A" value=""></ion-datetime>
          </ion-label>
        </ion-col>
        <ion-col>
          <h3 class="input-label">End Time</h3>
          <ion-label>
            <ion-datetime placeholder="00:00" name="endTime" [(ngModel)]="endTime" class="input-data"
              display-format="h:mm A" picker-format="h:mm A" value=""></ion-datetime>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" class="add-button" (click)="submit()">Add To List</ion-button>
  </form>
</ion-content>