.todoForm{
    margin: 3%;
    font-size: 18px;
}
.input-label{
    color: dimgray;
}
.input-data{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f0f0f0;
    height: 50px;
    height: 45px;
    padding: 10px !important;
}
.input-area{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f0f0f0;
    padding: 5px !important;
}
.add-button{
    --background: linear-gradient(to bottom right, #FF8CDB, #FD62D0);
    margin-top: 5%;
}