.navbar{
    background-color: #ffffff;
    padding: 0 !important;
    height: 70px;
    align-items: normal !important;
    background: currentColor;
}
.nav-container{
    width: 100%;
    text-align: center;
}
.nav-header{
    color: white;
    font-size: 2rem;
    margin-top: 1.5%;
}