/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-header{
    background-image: linear-gradient(to bottom right, #6464D3, #885CB7) !important;
    box-shadow:#885cb7 0px 5px 20px;
}
ion-toolbar{
    --border-width: 0 !important;
    --ion-color-base: none !important;
    --background: transparent;
    color: #fff;
}
ion-icon{
    color: #fff;
}
ion-calendar {
    background: transparent !important;
    width: 100% !important;
    padding: 0 !important;
    .title{
        display: none !important;
    }
}
.week-title{
    color: #fff !important;
    font-weight: bold !important;
}
.primary .days .last-month-day p, .primary .days .next-month-day p{
    color: lightgrey !important;
}
button.days-btn p {
    color: #C3A9F5 !important;
}
button.days-btn.today p {
    color: #fff !important;
}
 .primary .days .on-selected,  .primary .startSelection button.days-btn,  .primary .endSelection button.days-btn{
    background-color: #BAB5ED !important;
    p {
        color: #fff !important;
    }
}
.ion-color-light{
    --ion-color-base: linear-gradient(to bottom right, #F7C389, #FF7D56) !important;
}